
<div class="wwc16__interactiveWrapper">
    <div class="wwc16__hero-container">
        <div class="wwc16__hero-holder" id="heroPic" style="">

       </div>     
    </div>
	<div class="wwc16__header-container">
        <div class="wwc16__header">
            <div class="wwc16__header-left">
                <h4><a href="http://www.theguardian.com/football
                    ">Football</a></h4>
                <h5><a href="http://www.theguardian.com/football/euro-2016">Euro 2016</a></h5>
                <div class="ug16__share-buttons">
                    <div class="visuals-share-btns" id="shareBtnHolder">
                        
                    </div>
             </div>
            </div>
            <div class="wwc16__header-main" id="headerArea">
                
            </div>
        </div>
    </div>

     
    

    <div class="wwc__16-main-container">
       
        <div class='sub-head-container' id="groupSubHead"></div>

        <div class="wwc16__groups-container"  id="wwc__groups"> </div> 
            
        <div class="wwc16__chart-container" id="wwc__wallchart"> </div> 
        
       <!--  <div class="wwc16__venues-container"  id='wwc__venues'> </div> -->

        <div class="wwc16__venues-list-container"  id='wwc__venues-list'> </div>

        <div class="wwc16__credits-text" id="wwc__credits"></div>

     </div>
  
        
  


</div>




