/**
 * Project: Project name 
 * File:    Main SCSS
 */

$guss-webfonts-base-url: '//pasteup.guim.co.uk/fonts/';

@import 'bower_components/pasteup-palette/src/_palette';
@import "bower_components/guss-colours/_colours.scss";
@import 'bower_components/guss-webfonts/src/_webfonts.scss';
@import 'bower_components/guss-typography/_typography.scss';

@include guss-webfonts();
@include guss-typography-defaults;
@include guss-generate-colour-classes($palette: $pasteup-palette, $property: background-color, $prefix: b-);

$neutral-1: map-get($pasteup-palette, 'neutral-1');
$neutral-2: map-get($pasteup-palette, 'neutral-2');
$neutral-3: map-get($pasteup-palette, 'neutral-3');
$neutral-4: map-get($pasteup-palette, 'neutral-4');
$neutral-5: map-get($pasteup-palette, 'neutral-5');
$neutral-6: map-get($pasteup-palette, 'neutral-6');
$neutral-7: map-get($pasteup-palette, 'neutral-7');
$neutral-8: map-get($pasteup-palette, 'neutral-8');
$news-main-1: map-get($pasteup-palette, 'news-main-1');
$news-main-2: map-get($pasteup-palette, 'news-main-2');
$guardian-brand: map-get($pasteup-palette, 'guardian-brand');
$guardian-brand-light: map-get($pasteup-palette, 'guardian-brand-light');
$guardian-brand-dark: map-get($pasteup-palette, 'guardian-brand-dark');

$custom-blue-1:#0eb6ea;

$custom-blue-2:#8dcde1;

@import 'modules/mq';
@import 'modules/header';
@import 'modules/hero';
@import 'modules/wallchart';
@import 'modules/venues';
@import 'modules/share-buttons';

body{
	margin:0;
}

figure.element {
  margin-top: 0 !important;
}  

.element-interactive{
	margin: 0 !important;
}



.wwc16__interactiveWrapper {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		margin-top:0;
		padding:0;
		background-color:white;
		@include mq(tablet){
			background-color:rgba(55,55,55,0.05);
		}
		


		.wwc__16-main-container {
				height:auto;
				margin:0 10px;				
				width:auto;
				background-color:white;
				
				overflow: hidden;

				  @include mq(tablet) {
				      max-width: 740px;
				      
				      margin: 0 auto;

				  }

				  @include mq(desktop) {
				      max-width: 980px;
				  }

				  @include mq(1140px) {
				      max-width: 1140px;
				  }

				  @include mq(wide) {

				      max-width: 1300px;
				  }
			       
		}


		.wwc16__groups-container{
				    position:relative; 
				    width:100%;
				    height: auto;
				    -webkit-transform: translateZ(0);
				    transform: translateZ(0);

				    @include mq(tablet) {
				    	padding: 0 10px;
				    }
 

				}


				.wc-table{
					position:relative;
					float:left;
					margin:0;
					width:100%;					
					height:auto;
					padding-bottom:12px;

					 @include mq(mobileLandscape) {
					 	margin:12px 20px 0 0;
					 	width:210px;
						
			        }

			        @include mq(tablet) {
			        	margin: 0 0 0 20px;
					 	
					 	padding-bottom:36px;
						
			        }

			        @include mq(desktop) {
			        	margin: 0 0 0 20px;
			        	width:300px;

						
			        }

			        @include mq(1140px) {
			        	
			        		
			        }

			        @include mq(wide) {
						width:320px;
			        }
				}


				.wc-table:nth-child(3) {
				    
				    @include mq(726px){
				    	padding-bottom:90px; 
				    }	
				  }

				.datagrid table {
				    border-collapse: collapse;
				    width:100%;
				    tr:nth-child(even) {background: rgba($custom-blue-1,0.4)}
					tr:nth-child(odd) {background: rgba($custom-blue-1,0.1)}
				}

				.datagrid {
				    @include fs-data(1);
				    background: #fff;
				    width: 100%;
				    overflow: hidden;
				}

				.datagrid table td,
				.datagrid table th {
				    padding: 6px 3px;
				    margin: 12px 0; 
				    text-align: center;
				}

				.datagrid table thead th {
				    background-color: rgba($custom-blue-1,0.8);
				    color: $neutral-1;
				    font-size: 15px;
				    font-weight: bold;   
				}

				.datagrid table thead th:first-child {
				    border: none;
				    text-align: left;
				}

				.datagrid table tbody td {
				    color: $neutral-1;
				    border-bottom: 1px solid #E1EEF4;
				    font-size: 15px;
				    font-weight: normal;
				    text-align: center;
				}

				.datagrid table tbody td:first-child {
				    border-left: none;
				    text-align: left;
				}

				 .datagrid table tbody tr:last-child td {
				    border-bottom: none;
				}

				.fixtures-group{
					position: relative;
					width:100%;
					margin: 12px 0 0 0;
					height:auto;
				}

				.fixture-holder{
					position: relative;
					width:100%;
				}

				.fixture-date {	
					@include fs-data(1);
					color:$neutral-1;
					width:100%;
					margin: 12px 0 3px 0;
					padding: 6px 0 0 0;
					border-bottom: 1px solid $neutral-6;
				}

				.fixture-teams {
					
					@include fs-data(4);
					color:$neutral-1;
					width:100%;
					padding: 0;
				}

				.fixture-ko{
					@include fs-data(1);
					color:$neutral-2;
					width:100%;
					padding: 0 0 12px 3px;
				}

				.fixture-venue{
					@include fs-data(1);
					color:$neutral-2;
					width:100%;
					padding: 0 0 12px 0;
				}



		.visible-mobile{
			display: block;
			@include mq(mobileLandscape) {
			            display: none;
			        }
		}

		.visible-non-mobile{
			display: none;
			@include mq(mobileLandscape) {
			            display: block;
			        }
		}


		.sub-head-container{
			position:relative;
			margin: 0 0 36px; 
			width:100%;
			background-color:none;
			color:$neutral-1;
			border-top: 1px solid $neutral-6;
			padding-top:12px;
			

			@include mq(tablet) {
		          margin-left: 20px; 
		          margin-right: 20px; 
		          max-width:700px;
		        }
		    @include mq(desktop){
		    	max-width:940px;
		    }    

			@include mq(leftCol) {
		          //margin-left: 170px; 
		          max-width:1100px;
		        }
		    @include mq(wide){
		          //margin-left: 240px; 
		          max-width:1260px;
		        }

			h3, p{
				margin:0;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				max-width:620px;				
			} 
			p{
				@include fs-bodyCopy(2);
				color:$neutral-2;
				@include mq(leftCol) {
		          margin-left: 160px; 
		        }
		    @include mq(wide){
		          margin-left: 240px; 
		        }
			}

			h3 {
				@include fs-header(2);
				width:100%;
				float:left;
				@include mq(leftCol) {
		          max-width:140px;
		        }
			    @include mq(wide){
			      max-width:220px;
			    }
			}
		}

		.sub-head-container-2{
			position:relative;
			width:100%;
			margin:12px 0 12px;
			float:left;
			@include fs-bodyHeading(2);
			color:$neutral-2;
			background-color:none;	
		}

		.sub-head-container-3{
			position:relative;
			width:100%;
			margin:12px 0 12px 0;
			float:left;
			@include fs-bodyHeading(2);
			color:$neutral-2;
			background-color:none;	

			@include mq(tablet){
				margin-left:20px;
			}
		}

		.wwc16__group-header{
					postion:relative;
					width:100%;
					@include fs-bodyHeading(2);
					color:$custom-blue-1;
					margin-bottom:6px;
		}


		.sub-standfirst{
			position:relative;
			width:100%;
			max-width:620px;
			margin:6px auto 12px 0;
			@include fs-bodyCopy(2);
			color:$neutral-2;
			font-weight:400 !important;
			background-color:none;	
		}

		 

		.wwc__link-button{
			  display: inline-block;
			  padding: 0 6px;
			  margin: -3px 3px 0 0;
			  background-color: $news-main-1;
			  border-radius: 18px;
			  @include fs-textSans(4);
			  text-decoration:none;
			  color:$neutral-6;
			  cursor: pointer;
		}

		.wwc__open-fixtures-button{
			  content: "Show fixtures";	
			  display: inline-block;
			  padding: 3px 6px;
			  margin: 12px 3px 36px 0;
			  background-color: $neutral-8;
			  border: 1px solid $neutral-4; 
			  border-radius: 18px;
			  @include fs-textSans(4);
			  text-decoration:none;
			  color:$neutral-2;
			  cursor: pointer;
		}

		.wwc__open-fixtures-button:after{
			  content: "show group fixtures";
			}

		.wwc__close-fixtures-button{
			   content: "Show fixtures";	
			  display: inline-block;
			  padding: 3px 9px;
			  margin: 12px 3px 36px 0;
			  background-color: $neutral-8;
			  border: 1px solid $neutral-4; 
			  border-radius: 18px;
			  @include fs-textSans(4);
			  text-decoration:none;
			  color:$neutral-2;
			  cursor: pointer;
		}

		.wwc__close-fixtures-button:after {
			   content: "hide group fixtures";
		}

		.wwc__close-fixtures-button, .wwc__open-fixtures-button{
				@include mq(tablet) {
			            display: none;
			        }

		}




		.wwc__tz-button{
			   content: "Show fixtures";	
			  display: inline-block;
			  padding: 3px 9px;
			  margin: 12px 3px 36px 0;
			  background-color: $neutral-8;
			  border: 1px solid $neutral-4; 
			  border-radius: 18px;
			  @include fs-textSans(4);
			  text-decoration:none;
			  color:$neutral-2;
			  cursor: pointer;
		}

		.wwc16__change-time-button{


				background-image: url("data:image/svg+xml;utf8,<svg width='24px' height='24px'><path fill=$neutral-4 d='M39.832,42.138c0,1.656-0.312,3.211-0.938,4.664c-0.625,1.454-1.477,2.726-2.555,3.82 c-1.078,1.094-2.344,1.953-3.797,2.578s-3.008,0.938-4.664,0.938s-3.219-0.312-4.688-0.938s-2.742-1.484-3.82-2.578 c-1.078-1.094-1.93-2.367-2.555-3.82c-0.625-1.453-0.938-3.008-0.938-4.664s0.312-3.211,0.938-4.664 c0.625-1.454,1.477-2.727,2.555-3.82c1.078-1.094,2.352-1.953,3.82-2.579c1.469-0.625,3.031-0.937,4.688-0.937 s3.211,0.312,4.664,0.937c1.453,0.625,2.719,1.484,3.797,2.579c1.078,1.094,1.93,2.367,2.555,3.82 C39.52,38.927,39.832,40.482,39.832,42.138z M36.316,43.216v-1.594l-6.938-0.375l-0.703-8.907h-1.641L26.238,42.56l1.641,1.36  L36.316,43.216z'/></svg>");
                 background-repeat: no-repeat;


              content: "See local times";	
			  display: inline-block;
			  padding: 3px 9px;
			  margin: 12px 3px 36px 0;
			  background-color: $neutral-8;
			  border: 1px solid $neutral-4; 
			  border-radius: 18px;
			  @include fs-textSans(4);
			  text-decoration:none;
			  color:$neutral-2;
			  cursor: pointer;

        }

		.fixtures-group {
				@include mq(tablet) {
				            display: block;
				        }
		}


		.wwc16__venues-container, .wwc16__venues-list-container, .wwc16__chart-container, .wwc16__groups-container, .wwc16__credits-text{
				padding: 0 0 36px;
				position:relative;
				clear:both;
			

					// @include mq(tablet) {
				 //            margin: 0 20px;
				 //        }

		}


		.wwc16__groups-container{
			border:none;
			@include mq(leftCol) {
				            margin: 0 160px;
				            max-width: 980px;
				        }

			@include mq(wide) {
				            margin: 0 240px;
				            max-width: 1040px;
				        }
		}




		.wwc16__credits-text{

			position: relative;
			display:block;
			width: 100%;
			max-width: 1260px;
			float:left;
			clear:both;
			@include fs-bodyCopy(2);
			padding:12px 0 0 10px;
			margin:36px 0;
			

		}



	.wwc16__credits-text a{
		text-decoration:none;
		color:#194377;

	}


	.wwc16__venues-list-container{
			margin: 12px 0 36px;
			position:relative;
			clear:both;

		}




.gv-iframed-graphic{
	border: 0;
	width: 100%;
	height: 100%;
	overflow:hidden;


			// @include mq(tablet) 
			// {
		 //        width: 460px;
			// 	height: 460px;
			// }

			
			// @include mq(1140px) 
			// {
		 //        width: 160px;
			// 	height: 160px;
			// }

			// @include mq(wide) 
			// {
		 //        width: 220px;
			// 	height: 220px;
			// }

}

		



}

